@import '../../assets/styles/variables';

article {
  margin: 0 auto 0.75rem auto;
  max-width: 720px;

  a {
    text-decoration: none;
  }

  .tag {
    color: $primary-main;
  }

  .post-actions {
    float: right;
  }
}
