$primary-main: rgba(151, 193, 34, 1);
$primary-light: rgba(175, 203, 9, 1);
$primary-dark: rgba(102, 133, 22, 1);

$background-main: rgba(82, 82, 82, 1);
$background-dark: rgba(49, 47, 50, 1);
$background-darker: rgb(31, 31, 31);

$text-primary: rgba(255, 255, 255, 1);
$text-secondary: rgba(203, 203, 203, 1);
$text-disabled: rgba(155, 155, 155, 1);
$text-hint: rgba(0, 0, 0, 0.38);
